<div style="text-align:center">
    <div *ngIf="movie">
        <h2>
            <i>{{movie.title}}</i> details
        </h2>
        <div class='infoSection'>
            <div *ngIf="!movie.overview">
                No description available.
            </div>
            <div *ngIf="movie.overview">
                {{movie.overview}}<p>Runtime: <i>{{movie.runtime ? (movie.runtime+' minutes') : 'Unknown'}}</i>
            </div>
        </div>
        <p>
        <div class='infoSection'>
            <div *ngIf="movie.vote_count===0">
                No viewers have rated this movie yet.
            </div>
            <div *ngIf="movie.vote_count!==0">
                {{movie.vote_average}}/10 ({{movie.vote_count}} ratings)
            </div>
            <p>
            Runtime: <i>{{movie.runtime ? (movie.runtime+' minutes') : 'Unknown'}}</i>
            <p>
            Genres: 
            <i>
            <span *ngFor="let genre of movie.genres; let isLast=last">
                {{genre.name}}{{isLast ? '' : ','}} 
            </span>
            <span *ngIf="movie.genres.length===0">Unknown</span>
            </i>
        </div>
        <div class='buttonSection'>
            <a [routerLink]="['/search']" >
                <div class="button"  >
                   Back
                </div>
            </a>
        </div>
    </div>
</div>