.movies {
    cursor: pointer;
    border-style: solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
  }

.button {
    cursor: pointer;
    color: #8F872D;
    background: #2E2B2E;
    max-width: 500px;
    min-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:hover {
    color: #BFB75D;
    background: #403D40;
}

.navButton {
    cursor: pointer;
    color: #8F872D;
    background: #2E2B2E;
    width:30%;
    max-width: 500px;
    min-width: 80px;
    padding-bottom: 5px;
    display: inline-block;
}

.navButton:hover {
    color: #BFB75D;
    background: #403D40;
}

.navImage {
    cursor: pointer;
    display: inline-block;
}

.buttonSection{
    border-top: solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 0px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
}